@use 'vuetify/settings' with (
  $border-radius-root: 6px,

  // 👉 Field
  $field-font-size: 0.9375rem,
  $field-outline-opacity: 0.22,
  $field-border-width: 1px,
  $field-focused-border-width: 2px,
  $field-control-affixed-padding: 14px,

  // 👉 Table
  $table-header-height: 48px
);
